In [1]:
print("hello world :)")

hello world :)

In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [3]:
events = pd.read_csv('athlete_events.csv')
regions = pd.read_csv('noc_regions.csv')

In [4]:
events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
# result = filter(lambda x: x == 'Summer', events['Season'])
# result = tuple(result)

In [6]:
events = events.loc[events['Season'] == 'Summer']

In [7]:
events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [8]:
events = events.merge(regions, on = 'NOC',how= 'left')

In [9]:
len(events['NOC'].unique())

230

In [10]:
events['region'].unique()

array(['China', 'Denmark', 'Netherlands', 'Finland', 'Norway', 'Romania',
       'Estonia', 'France', 'Morocco', 'Spain', 'Egypt', 'Iran',
       'Bulgaria', 'Italy', 'Chad', 'Azerbaijan', 'Sudan', 'Russia',
       'Argentina', 'Cuba', 'Belarus', 'Greece', 'Cameroon', 'Turkey',
       'Chile', 'Mexico', 'USA', 'Nicaragua', 'Hungary', 'Nigeria',
       'Algeria', 'Kuwait', 'Bahrain', 'Pakistan', 'Iraq', 'Syria',
       'Lebanon', 'Qatar', 'Malaysia', 'Germany', 'Canada', 'Ireland',
       'Australia', 'South Africa', 'Eritrea', 'Tanzania', 'Jordan',
       'Tunisia', 'Libya', 'Belgium', 'Djibouti', 'Palestine', 'Comoros',
       'Kazakhstan', 'Brunei', 'India', 'Saudi Arabia', 'Maldives',
       'Ethiopia', 'United Arab Emirates', 'Yemen', 'Indonesia',
       'Philippines', nan, 'Uzbekistan', 'Kyrgyzstan', 'Tajikistan',
       'Japan', 'Republic of Congo', 'Switzerland', 'Brazil', 'Monaco',
       'Israel', 'Uruguay', 'Sweden', 'Sri Lanka', 'Armenia',
       'Ivory Coast', 'Kenya', 'Benin', 'UK', 'Ghana', 'Somalia', 'Niger',
       'Mali', 'Afghanistan', 'Poland', 'Costa Rica', 'Panama', 'Georgia',
       'Slovenia', 'Guyana', 'New Zealand', 'Portugal', 'Paraguay',
       'Angola', 'Venezuela', 'Colombia', 'Bangladesh', 'Peru',
       'El Salvador', 'Puerto Rico', 'Uganda', 'Honduras', 'Ecuador',
       'Turkmenistan', 'Mauritius', 'Seychelles', 'Czech Republic',
       'Luxembourg', 'Mauritania', 'Saint Kitts', 'Trinidad',
       'Dominican Republic', 'Saint Vincent', 'Jamaica', 'Liberia',
       'Suriname', 'Nepal', 'Mongolia', 'Austria', 'Palau', 'Lithuania',
       'Togo', 'Namibia', 'Curacao', 'Ukraine', 'Iceland',
       'American Samoa', 'Samoa', 'Rwanda', 'Croatia', 'Dominica',
       'Haiti', 'Malta', 'Cyprus', 'Guinea', 'Belize', 'Thailand',
       'Bermuda', 'Serbia', 'Sierra Leone', 'Papua New Guinea',
       'Individual Olympic Athletes', 'Oman', 'Fiji', 'Vanuatu',
       'Moldova', 'Bahamas', 'Guatemala', 'Latvia',
       'Virgin Islands, British', 'Mozambique', 'Virgin Islands, US',
       'Central African Republic', 'Madagascar', 'Bosnia and Herzegovina',
       'Guam', 'Cayman Islands', 'Slovakia', 'Barbados', 'Guinea-Bissau',
       'Timor-Leste', 'Democratic Republic of the Congo', 'Gabon',
       'San Marino', 'Laos', 'Botswana', 'South Korea', 'Cambodia',
       'North Korea', 'Solomon Islands', 'Senegal', 'Cape Verde',
       'Equatorial Guinea', 'Boliva', 'Antigua', 'Andorra', 'Zimbabwe',
       'Grenada', 'Saint Lucia', 'Micronesia', 'Myanmar', 'Malawi',
       'Zambia', 'Taiwan', 'Sao Tome and Principe', 'Macedonia',
       'Liechtenstein', 'Montenegro', 'Gambia', 'Cook Islands', 'Albania',
       'Swaziland', 'Burkina Faso', 'Burundi', 'Aruba', 'Nauru',
       'Vietnam', 'Bhutan', 'Marshall Islands', 'Kiribati', 'Tonga',
       'Kosovo', 'South Sudan', 'Lesotho'], dtype=object)

In [11]:
events.isnull().sum()

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
region       370
notes     218151
dtype: int64

In [12]:
events.duplicated().sum()

1385

In [13]:
events.drop_duplicates(inplace = True)

In [14]:
events.shape

(221167, 17)

In [15]:
events['Medal'].value_counts()

Gold      11456
Bronze    11409
Silver    11212
Name: Medal, dtype: int64

In [16]:
events = pd.concat([events, pd.get_dummies(events['Medal'])] , axis = 1)

In [17]:
events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,0,1,0
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,0,0,0

In [18]:
events.groupby('NOC').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold',ascending=False).reset_index()

     NOC    Gold  Silver  Bronze
0    USA  2472.0  1333.0  1197.0
1    URS   832.0   635.0   596.0
2    GBR   635.0   729.0   620.0
3    GER   592.0   538.0   649.0
4    ITA   518.0   474.0   454.0
..   ...     ...     ...     ...
225  AHO     0.0     1.0     0.0
226  LBR     0.0     0.0     0.0
227  LCA     0.0     0.0     0.0
228  LES     0.0     0.0     0.0
229  LBA     0.0     0.0     0.0

[230 rows x 4 columns]

In [19]:
events.sample(50)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
38864,23893,"Thomas Francis ""Tom"" Cronan",M,20.0,NaN,NaN,United States,USA,1906 Summer,1906,Summer,Athina,Athletics,Athletics Men's Triple Jump,Bronze,USA,NaN,1,0,0
162284,98979,Mohamed Ali Ahmad Rashwan,M,32.0,198.0,140.0,Egypt,EGY,1988 Summer,1988,Summer,Seoul,Judo,Judo Men's Heavyweight,NaN,Egypt,NaN,0,0,0
194388,118816,Pauli Jalmar Tavisalo,M,24.0,176.0,66.5,Finland,FIN,1952 Summer,1952,Summer,Helsinki,Athletics,Athletics Men's 200 metres,NaN,Finland,NaN,0,0,0
85299,52181,Alan Frederick Inns,M,26.0,168.0,50.0,Great Britain,GBR,1972 Summer,1972,Summer,Munich,Rowing,Rowing Men's Coxed Pairs,NaN,UK,NaN,0,0,0
151676,92607,Bent Lassen Pedersen,M,30.0,180.0,72.0,Denmark,DEN,1976 Summer,1976,Summer,Montreal,Cycling,"Cycling Men's Road Race, Individual",NaN,Denmark,NaN,0,0,0
194553,118924,"Matthew McLeod ""Matt"" Taylor",M,30.0,177.0,79.0,United States,USA,2000 Summer,2000,Summer,Sydney,Canoeing,"Canoeing Men's Canadian Doubles, Slalom",NaN,USA,NaN,0,0,0
87234,53414,Michael Georg Jakosits,M,34.0,184.0,85.0,Germany,GER,2004 Summer,2004,Summer,Athina,Shooting,"Shooting Men's Running Target, 10 metres",NaN,Germany,NaN,0,0,0
44547,27197,Fernand Delarge,M,20.0,NaN,NaN,Belgium,BEL,1924 Summer,1924,Summer,Paris,Boxing,Boxing Men's Light-Heavyweight,NaN,Belgium,NaN,0,0,0
209609,127783,Przemysaw Marian Wacha,M,31.0,181.0,81.0,Poland,POL,2012 Summer,2012,Summer,London,Badminton,Badminton Men's Singles,NaN,Poland,NaN,0,0,0
21229,13303,"Petronella Theodora Maria ""Ellen"" Bontje",F,34.0,178.0,72.0,Netherlands,NED,1992 Summer,1992,Summer,Barcelona,Equestrianism,"Equestrianism Mixed Dressage, Individual",NaN,Netherlands,NaN,0,0,0
146813,89651,Hans-Henrik rsted,M,25.0,186.0,76.0,Denmark,DEN,1980 Summer,1980,Summer,Moskva,Cycling,"Cycling Men's Individual Pursuit, 4,000 metres",Bronze,Denmark,NaN,1,0,0
185939,113763,Ashley Spencer,F,23.0,178.0,59.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Athletics,Athletics Women's 400 metres Hurdles,Bronze,USA,NaN,1,0,0
120618,73768,"Carolina ""Lineke"" Majolee",F,21.0,165.0,61.0,Netherlands,NED,1960 Summer,1960,Summer,Roma,Gymnastics,Gymnastics Women's Individual All-Around,NaN,Netherlands,NaN,0,0,0
177613,108509,Wolfgang Peter Selzer,M,22.0,178.0,64.0,East Germany,GDR,1968 Summer,1968,Summer,Mexico City,Athletics,Athletics Men's 50 kilometres Walk,NaN,Germany,NaN,0,0,0
39817,24418,Ann Elisabeth Curtis (-Cuneo),F,22.0,NaN,NaN,United States,USA,1948 Summer,1948,Summer,London,Swimming,Swimming Women's 100 metres Freestyle,Silver,USA,NaN,0,0,1
177147,108225,"Kevin ""Clyde"" Sefton",M,21.0,174.0,68.0,Australia,AUS,1972 Summer,1972,Summer,Munich,Cycling,Cycling Men's 100 kilometres Team Time Trial,NaN,Australia,NaN,0,0,0
69589,42410,Sylvester Granrose (-Grnros),M,21.0,NaN,90.0,United States,USA,1920 Summer,1920,Summer,Antwerpen,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,NaN,USA,NaN,0,0,0
161043,98239,Jzsef Rdy,M,43.0,NaN,NaN,Hungary,HUN,1928 Summer,1928,Summer,Amsterdam,Fencing,"Fencing Men's epee, Team",NaN,Hungary,NaN,0,0,0
11772,7504,Bang Su-Hyeon,F,23.0,NaN,NaN,South Korea,KOR,1996 Summer,1996,Summer,Atlanta,Badminton,Badminton Women's Singles,Gold,South Korea,NaN,0,1,0
49928,30437,Flora Jane Duffy,F,28.0,163.0,57.0,Bermuda,BER,2016 Summer,2016,Summer,Rio de Janeiro,Triathlon,Triathlon Women's Olympic Distance,NaN,Bermuda,NaN,0,0,0
154443,94300,"Richard Worden ""Dick"" Pew",M,23.0,190.0,75.0,United States,USA,1956 Summer,1956,Summer,Melbourne,Fencing,"Fencing Men's epee, Team",NaN,USA,NaN,0,0,0
221395,134853,Zhu Qinan,M,27.0,183.0,75.0,China,CHN,2012 Summer,2012,Summer,London,Shooting,"Shooting Men's Small-Bore Rifle, Prone, 50 metres",NaN,China,NaN,0,0,0
5716,3641,Mircea Anastasescu,M,29.0,178.0,75.0,Romania,ROU,1960 Summer,1960,Summer,Roma,Canoeing,Canoeing Men's Kayak Relay 4 x 500 metres,NaN,Romania,NaN,0,0,0
100652,61812,Madison Taylor Kocian,F,19.0,157.0,46.0,United States,USA,2016 Summer,2016,Summer,Rio de Janeiro,Gymnastics,Gymnastics Women's Uneven Bars,Silver,USA,NaN,0,0,1
11660,7427,Paul Bamber,M,27.0,175.0,65.0,Zimbabwe,ZIM,1988 Summer,1988,Summer,Seoul,Archery,Archery Men's Team,NaN,Zimbabwe,NaN,0,0,0
168930,103047,"Stanley Rupert ""Stan"" Rowley",M,23.0,178.0,71.0,Australia,AUS,1900 Summer,1900,Summer,Paris,Athletics,Athletics Men's 60 metres,Bronze,Australia,NaN,1,0,0
81703,49976,John William Horne,M,28.0,NaN,NaN,Great Britain,GBR,1906 Summer,1906,Summer,Athina,Athletics,Athletics Men's 400 metres,NaN,UK,NaN,0,0,0
218170,132881,Artyom Sergeyevich Yermakov,M,34.0,188.0,80.0,Russia,RUS,2016 Summer,2016,Summer,Rio de Janeiro,Volleyball,Volleyball Men's Volleyball,NaN,Russia,NaN,0,0,0
86091,52716,Edgar Itt,M,21.0,186.0,75.0,West Germany,FRG,1988 Summer,1988,Summer,Seoul,Athletics,Athletics Men's 4 x 400 metres Relay,Bronze,Germany,NaN,1,0,0
3925,2543,Octavio Andrs Alesi Gonzlez,M,21.0,174.0,69.5,Venezuela,VEN,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Men's 100 metres Butterfly,NaN,Venezuela,NaN,0,0,0
25449,15759,Massimo Brunelli,M,23.0,175.0,69.0,Italy,ITA,1984 Summer,1984,Summer,Los Angeles,Cycling,"Cycling Men's Team Pursuit, 4,000 metres",NaN,Italy,NaN,0,0,0
88949,54460,Anne Jensen-van Olst,F,26.0,184.0,70.0,Denmark,DEN,1988 Summer,1988,Summer,Seoul,Equestrianism,"Equestrianism Mixed Dressage, Team",NaN,Denmark,NaN,0,0,0
146646,89553,Orlando Ortega Alejo,M,20.0,182.0,77.0,Cuba,CUB,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 110 metres Hurdles,NaN,Cuba,NaN,0,0,0
179308,109586,"David Joseph ""Dave"" Sheppard",M,24.0,170.0,90.0,United States,USA,1956 Summer,1956,Summer,Melbourne,Weightlifting,Weightlifting Men's Middle-Heavyweight,Silver,USA,NaN,0,0,1
118020,72186,Czeslaw Lukaszewicz,M,36.0,167.0,63.0,Canada,CAN,2000 Summer,2000,Summer,Sydney,Cycling,"Cycling Men's Road Race, Individual",NaN,Canada,NaN,0,0,0
83544,51052,"James Hawley ""Jim"" Hunt",M,24.0,188.0,94.0,Minotaur,USA,1960 Summer,1960,Summer,Roma,Sailing,Sailing Mixed 5.5 metres,Gold,USA,NaN,0,1,0
187616,114726,Christine Steger,F,14.0,165.0,49.0,Switzerland,SUI,1972 Summer,1972,Summer,Munich,Gymnastics,Gymnastics Women's Horse Vault,NaN,Switzerland,NaN,0,0,0
141771,86470,Daniel Nion,M,33.0,168.0,63.0,France,FRA,1984 Summer,1984,Summer,Los Angeles,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",NaN,France,NaN,0,0,0
61730,37587,Tatsuya Fukuzawa,M,22.0,189.0,84.0,Japan,JPN,2008 Summer,2008,Summer,Beijing,Volleyball,Volleyball Men's Volleyball,NaN,Japan,NaN,0,0,0
75375,45978,Kelly Hardie,F,38.0,182.0,80.0,Australia,AUS,2008 Summer,2008,Summer,Beijing,Softball,Softball Women's Softball,Bronze,Australia,NaN,1,0,0
198120,120936,Toshinao Tomie,M,25.0,NaN,NaN,Japan,JPN,1936 Summer,1936,Summer,Berlin,Athletics,Athletics Men's 800 metres,NaN,Japan,NaN,0,0,0
192999,117955,"August Esaias ""Akseli"" Takala",M,26.0,NaN,NaN,Finland,FIN,1924 Summer,1924,Summer,Paris,Athletics,Athletics Men's Shot Put,NaN,Finland,NaN,0,0,0
162390,99043,Hedevig Rasmussen-Gjrling (-Jensen),F,22.0,NaN,NaN,Denmark,DEN,1924 Summer,1924,Summer,Paris,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,NaN,Denmark,NaN,0,0,0
55002,33609,Elama Fa'atonu,M,18.0,175.0,82.0,American Samoa,ASA,2012 Summer,2012,Summer,London,Athletics,Athletics Men's 100 metres,NaN,American Samoa,NaN,0,0,0
182824,111797,Lynn Ellen Skrifvars (-Nelson),F,21.0,173.0,59.0,United States,USA,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 4 x 100 metres Freestyle Relay,Gold,USA,NaN,0,1,0
58126,35440,Parelius Normeyer Finnerud,M,23.0,172.0,59.0,Norway,NOR,1912 Summer,1912,Summer,Stockholm,Athletics,"Athletics Men's Cross-Country, Team",NaN,Norway,NaN,0,0,0
13582,8594,Jean Batmale,M,28.0,NaN,NaN,France,FRA,1924 Summer,1924,Summer,Paris,Football,Football Men's Football,NaN,France,NaN,0,0,0
135958,82895,Garbie Muguruza Blanco,F,22.0,182.0,73.0,Spain,ESP,2016 Summer,2016,Summer,Rio de Janeiro,Tennis,Tennis Women's Singles,NaN,Spain,NaN,0,0,0
153177,93551,"Glorianne Aurore ""Glo"" Perrier",F,35.0,177.0,66.0,United States,USA,1964 Summer,1964,Summer,Tokyo,Canoeing,"Canoeing Women's Kayak Doubles, 500 metres",Silver,USA,NaN,0,0,1
186714,114216,"Josef ""Sepp"" Stalder",M,29.0,NaN,NaN,Switzerland,SUI,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Pommelled Horse,NaN,Switzerland,NaN,0,0,0

In [20]:
len(events[(events['NOC'] == 'USA') & (events['Medal'] == 'Gold')]) # 2472 is wrong / 1,060 is actual value

2472

In [21]:
medal_tally = events.drop_duplicates(subset=['Team','NOC', 'Games','Year','City','Sport','Event','Medal'])

In [22]:
zyzz = events.drop_duplicates(subset=['Team','NOC', 'Games','Year','City','Sport','Event','Medal'])

In [23]:
medal_tally = medal_tally.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold',ascending=False).reset_index()

In [24]:
medal_tally['total'] = medal_tally['Gold'] +  medal_tally['Silver'] + medal_tally['Bronze']

In [25]:
medal_tally['Gold'] = medal_tally['Gold'].astype(int)
medal_tally['Silver'] = medal_tally['Silver'].astype(int)
medal_tally['Bronze'] = medal_tally['Bronze'].astype(int)
medal_tally['total'] = medal_tally['total'].astype(int)

In [26]:
medal_tally

            region  Gold  Silver  Bronze  total
0              USA  1035     802     708   2545
1           Russia   592     498     487   1577
2          Germany   444     457     491   1392
3               UK   278     317     300    895
4           France   234     256     287    777
..             ...   ...     ...     ...    ...
200        Lesotho     0       0       0      0
201        Albania     0       0       0      0
202          Libya     0       0       0      0
203  Liechtenstein     0       0       0      0
204        Liberia     0       0       0      0

[205 rows x 5 columns]

In [27]:
len(events['City'].unique())

23

# Medals won by USA in 2016

In [28]:
zyzz[(zyzz['NOC'] == 'USA') & (zyzz['Medal'] == 'Gold') & (zyzz['Year'] == 2016)].shape

(46, 20)

In [29]:
zyzz[(zyzz['NOC'] == 'USA') & (zyzz['Medal'] == 'Silver') & (zyzz['Year'] == 2016)].shape

(37, 20)

In [30]:
zyzz[(zyzz['NOC'] == 'USA') & (zyzz['Medal'] == 'Bronze') & (zyzz['Year'] == 2016)].shape

(38, 20)

# Gold medal won by a country in a specific year

In [31]:
def gold(region, year):
    gold_medal = zyzz[(zyzz['region'] == region) & (zyzz['Medal'] == 'Gold') & (zyzz['Year'] == year)]
    gold_medal = gold_medal['Gold'].sum()
    return gold_medal

gold('Russia', 2008)

23

In [32]:
def gold(country, year):
    gold_medal = zyzz[(zyzz['NOC'] == country) & (zyzz['Medal'] == 'Gold') & (zyzz['Year'] == year)]
    gold_medal = gold_medal['Gold'].sum()
    return gold_medal

gold('IND', 2008)

1

# Sorting year

In [33]:
zyzz_unique_year = zyzz['Year'].unique()

In [34]:
zyzz_unique_year

array([1992, 2012, 1920, 1900, 1932, 1952, 2000, 1996, 1912, 1924, 1948,
       2008, 2016, 2004, 1984, 1968, 1972, 1988, 1936, 1956, 1960, 1928,
       1976, 1980, 1964, 1906, 1904, 1908, 1896], dtype=int64)

In [35]:
zyzz_unique_year.sort()

In [36]:
zyzz_unique_year = zyzz_unique_year.tolist()

In [37]:
zyzz_unique_year.insert(0, 'Overall')

In [38]:
zyzz_unique_year

['Overall',
 1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

# Sorting Country

In [39]:
zyzz_country = zyzz['region'].dropna()

In [40]:
zyzz_country = zyzz_country.unique()

In [41]:
zyzz_country = zyzz_country.tolist()

In [42]:
zyzz_country.sort()

In [43]:
zyzz_country.insert(0, 'Overall')

In [44]:
zyzz_country

['Overall',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

# Medal tally based on specific country or year

In [45]:
def specific_tally(events, year, country):
    zyzz = events.drop_duplicates(subset=['Team','NOC', 'Games','Year','City','Sport','Event','Medal'])
    flag = 0
    #overall / overall
    if year == "Overall" and country == "Overall":
        return_df = zyzz
    #overall / not overall 
    if year == 'Overall' and country != "Overall":
        return_df = zyzz[zyzz['region'] == 'India']
        flag = 1 
    #not overall / overall 
    if year != "Overall" and country == "Overall":
        return_df = zyzz[zyzz['Year'] == int(year)]
    #not overall / not overall
    if year != "Overall" and country != "Overall":
        return_df = zyzz[(zyzz['Year'] == int(year)) & (zyzz['region'] == country)]
    
    if flag == 1:
        specific_tally = return_df.groupby('Year').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Year',ascending=True).reset_index()
    else:
        specific_tally = return_df.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold',ascending=False).reset_index()
        
    specific_tally['total'] = specific_tally['Gold'] +  specific_tally['Silver'] + specific_tally['Bronze']
    print(specific_tally)
    
# DRIVER CODE:    
specific_tally(events,2016, 'Overall')

         region  Gold  Silver  Bronze  total
0           USA    46      37      38    121
1            UK    27      23      17     67
2         China    26      18      26     70
3        Russia    19      17      20     56
4       Germany    17      10      15     42
..          ...   ...     ...     ...    ...
198     Ireland     0       2       0      2
199      Israel     0       0       2      2
200    Kiribati     0       0       0      0
201  Kyrgyzstan     0       0       0      0
202    Zimbabwe     0       0       0      0

[203 rows x 5 columns]

In [46]:
events

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,0,1,0
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN,0,0,0
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN,0,0,0
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN,0,0,0

In [47]:
country = np.unique(events['region'].dropna().values).tolist()

In [50]:
country

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

In [78]:
aaahhh =zyzz[zyzz['region'] == 'USA'] 
aaahhh.groupby('Year').sum()[['Gold', 'Silver', 'Bronze']]

      Gold  Silver  Bronze
Year
1896    11       6       2
1900    21      16      17
1904    76      79      76
1906    12       5       6
1908    22      12      12
1912    26      18      19
1920    41      27      27
1924    45      27      27
1928    22      18      16
1932    44      36      30
1936    24      21      12
1948    38      27      19
1952    40      19      17
1956    32      25      17
1960    34      21      16
1964    36      26      28
1968    45      28      34
1972    33      31      30
1976    34      35      25
1984    82      61      30
1988    36      31      27
1992    37      34      37
1996    44      32      25
2000    36      24      31
2004    36      39      26
2008    36      39      35
2012    46      28      29
2016    46      37      38

In [77]:
zyzz[(zyzz['region'] == 'USA') & (zyzz['Year'] == 1896)]

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
19135,12068,Arthur Charles Blake,M,24.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,"Athletics Men's 1,500 metres",Silver,USA,NaN,0,0,1
19136,12068,Arthur Charles Blake,M,24.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Marathon,NaN,USA,NaN,0,0,0
26847,16616,"Thomas Edmund ""Tom"" Burke",M,21.0,183.0,66.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 100 metres,Gold,USA,NaN,0,1,0
26848,16616,"Thomas Edmund ""Tom"" Burke",M,21.0,183.0,66.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 400 metres,Gold,USA,NaN,0,1,0
35358,21795,Ellery Harding Clark,M,22.0,180.0,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's High Jump,Gold,USA,NaN,0,1,0
35359,21795,Ellery Harding Clark,M,22.0,180.0,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Long Jump,Gold,USA,NaN,0,1,0
35360,21795,Ellery Harding Clark,M,22.0,180.0,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Shot Put,NaN,USA,NaN,0,0,0
36872,22700,James Brendan Bennet Connolly,M,27.0,175.0,72.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's High Jump,Silver,USA,NaN,0,0,1
36873,22700,James Brendan Bennet Connolly,M,27.0,175.0,72.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Long Jump,Bronze,USA,NaN,1,0,0
36874,22700,James Brendan Bennet Connolly,M,27.0,175.0,72.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Triple Jump,Gold,USA,NaN,0,1,0
39824,24423,"Thomas Pelham ""Tom"" Curtis",M,23.0,176.0,66.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 100 metres,NaN,USA,NaN,0,0,0
39825,24423,"Thomas Pelham ""Tom"" Curtis",M,23.0,176.0,66.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 110 metres Hurdles,Gold,USA,NaN,0,1,0
63947,38860,"Robert ""Bob"" Garrett",M,20.0,188.0,81.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Long Jump,Silver,USA,NaN,0,0,1
63948,38860,"Robert ""Bob"" Garrett",M,20.0,188.0,81.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Shot Put,Gold,USA,NaN,0,1,0
63949,38860,"Robert ""Bob"" Garrett",M,20.0,188.0,81.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Discus Throw,Gold,USA,NaN,0,1,0
82441,50399,"William Welles ""Bill"" Hoyt",M,20.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 110 metres Hurdles,NaN,USA,NaN,0,0,0
82442,50399,"William Welles ""Bill"" Hoyt",M,20.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Pole Vault,Gold,USA,NaN,0,1,0
87430,53542,Herbert Brotherson Jamison,M,20.0,173.0,69.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 400 metres,Silver,USA,NaN,0,0,1
108099,66362,"Francis Adonijah ""Frank"" Lane",M,21.0,170.0,69.0,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's 100 metres,Bronze,USA,NaN,1,0,0
148428,90606,John Bryant Paine,M,25.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Military Pistol, 25 metres",Gold,USA,NaN,0,1,0
148429,90607,Sumner Paine,M,27.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Free Pistol, 30 metres",Gold,USA,NaN,0,1,0
148430,90607,Sumner Paine,M,27.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Military Pistol, 25 metres",Silver,USA,NaN,0,0,1
201573,122937,Albert Clinton Tyler,M,24.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Athletics,Athletics Men's Pole Vault,Silver,USA,NaN,0,0,1
210016,128057,Charles Waldstein (-Walston),M,40.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Military Rifle, 200 metres",NaN,USA,NaN,0,0,0
214296,130597,Gardner Boyd Williams,M,18.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Swimming,Swimming Men's 100 metres Freestyle,NaN,USA,NaN,0,0,0
214297,130597,Gardner Boyd Williams,M,18.0,NaN,NaN,United States,USA,1896 Summer,1896,Summer,Athina,Swimming,"Swimming Men's 1,200 metres Freestyle",NaN,USA,NaN,0,0,0