In [1]:
print("hello world :)")

hello world :)

In [2]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [3]:
events = pd.read_csv('athlete_events.csv')
regions = pd.read_csv('noc_regions.csv')

In [4]:
events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [5]:
# result = filter(lambda x: x == 'Summer', events['Season'])
# result = tuple(result)

In [6]:
events = events.loc[events['Season'] == 'Summer']

In [7]:
events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
26,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [8]:
events = events.merge(regions, on = 'NOC',how= 'left')

In [9]:
len(events['NOC'].unique())

230

In [10]:
events['region'].unique()

array(['China', 'Denmark', 'Netherlands', 'Finland', 'Norway', 'Romania',
       'Estonia', 'France', 'Morocco', 'Spain', 'Egypt', 'Iran',
       'Bulgaria', 'Italy', 'Chad', 'Azerbaijan', 'Sudan', 'Russia',
       'Argentina', 'Cuba', 'Belarus', 'Greece', 'Cameroon', 'Turkey',
       'Chile', 'Mexico', 'USA', 'Nicaragua', 'Hungary', 'Nigeria',
       'Algeria', 'Kuwait', 'Bahrain', 'Pakistan', 'Iraq', 'Syria',
       'Lebanon', 'Qatar', 'Malaysia', 'Germany', 'Canada', 'Ireland',
       'Australia', 'South Africa', 'Eritrea', 'Tanzania', 'Jordan',
       'Tunisia', 'Libya', 'Belgium', 'Djibouti', 'Palestine', 'Comoros',
       'Kazakhstan', 'Brunei', 'India', 'Saudi Arabia', 'Maldives',
       'Ethiopia', 'United Arab Emirates', 'Yemen', 'Indonesia',
       'Philippines', nan, 'Uzbekistan', 'Kyrgyzstan', 'Tajikistan',
       'Japan', 'Republic of Congo', 'Switzerland', 'Brazil', 'Monaco',
       'Israel', 'Uruguay', 'Sweden', 'Sri Lanka', 'Armenia',
       'Ivory Coast', 'Kenya', 'Benin', 'UK', 'Ghana', 'Somalia', 'Niger',
       'Mali', 'Afghanistan', 'Poland', 'Costa Rica', 'Panama', 'Georgia',
       'Slovenia', 'Guyana', 'New Zealand', 'Portugal', 'Paraguay',
       'Angola', 'Venezuela', 'Colombia', 'Bangladesh', 'Peru',
       'El Salvador', 'Puerto Rico', 'Uganda', 'Honduras', 'Ecuador',
       'Turkmenistan', 'Mauritius', 'Seychelles', 'Czech Republic',
       'Luxembourg', 'Mauritania', 'Saint Kitts', 'Trinidad',
       'Dominican Republic', 'Saint Vincent', 'Jamaica', 'Liberia',
       'Suriname', 'Nepal', 'Mongolia', 'Austria', 'Palau', 'Lithuania',
       'Togo', 'Namibia', 'Curacao', 'Ukraine', 'Iceland',
       'American Samoa', 'Samoa', 'Rwanda', 'Croatia', 'Dominica',
       'Haiti', 'Malta', 'Cyprus', 'Guinea', 'Belize', 'Thailand',
       'Bermuda', 'Serbia', 'Sierra Leone', 'Papua New Guinea',
       'Individual Olympic Athletes', 'Oman', 'Fiji', 'Vanuatu',
       'Moldova', 'Bahamas', 'Guatemala', 'Latvia',
       'Virgin Islands, British', 'Mozambique', 'Virgin Islands, US',
       'Central African Republic', 'Madagascar', 'Bosnia and Herzegovina',
       'Guam', 'Cayman Islands', 'Slovakia', 'Barbados', 'Guinea-Bissau',
       'Timor-Leste', 'Democratic Republic of the Congo', 'Gabon',
       'San Marino', 'Laos', 'Botswana', 'South Korea', 'Cambodia',
       'North Korea', 'Solomon Islands', 'Senegal', 'Cape Verde',
       'Equatorial Guinea', 'Boliva', 'Antigua', 'Andorra', 'Zimbabwe',
       'Grenada', 'Saint Lucia', 'Micronesia', 'Myanmar', 'Malawi',
       'Zambia', 'Taiwan', 'Sao Tome and Principe', 'Macedonia',
       'Liechtenstein', 'Montenegro', 'Gambia', 'Cook Islands', 'Albania',
       'Swaziland', 'Burkina Faso', 'Burundi', 'Aruba', 'Nauru',
       'Vietnam', 'Bhutan', 'Marshall Islands', 'Kiribati', 'Tonga',
       'Kosovo', 'South Sudan', 'Lesotho'], dtype=object)

In [11]:
events.isnull().sum()

ID             0
Name           0
Sex            0
Age         9189
Height     51857
Weight     53854
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     188464
region       370
notes     218151
dtype: int64

In [12]:
events.duplicated().sum()

1385

In [13]:
events.drop_duplicates(inplace = True)

In [14]:
events.shape

(221167, 17)

In [15]:
events['Medal'].value_counts()

Gold      11456
Bronze    11409
Silver    11212
Name: Medal, dtype: int64

In [16]:
events = pd.concat([events, pd.get_dummies(events['Medal'])] , axis = 1)

In [17]:
events.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,0,1,0
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,0,0,0

In [18]:
events.groupby('NOC').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold',ascending=False).reset_index()

     NOC    Gold  Silver  Bronze
0    USA  2472.0  1333.0  1197.0
1    URS   832.0   635.0   596.0
2    GBR   635.0   729.0   620.0
3    GER   592.0   538.0   649.0
4    ITA   518.0   474.0   454.0
..   ...     ...     ...     ...
225  AHO     0.0     1.0     0.0
226  LBR     0.0     0.0     0.0
227  LCA     0.0     0.0     0.0
228  LES     0.0     0.0     0.0
229  LBA     0.0     0.0     0.0

[230 rows x 4 columns]

In [19]:
events.sample(50)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
205704,125407,Dimitar Vasilev,M,24.0,NaN,NaN,Bulgaria,BUL,1928 Summer,1928,Summer,Amsterdam,Fencing,"Fencing Men's epee, Individual",NaN,Bulgaria,NaN,0,0,0
86569,53021,Ana Mara Izurieta Garca,F,19.0,157.0,52.0,Spain,ESP,2012 Summer,2012,Summer,London,Gymnastics,Gymnastics Women's Floor Exercise,NaN,Spain,NaN,0,0,0
78030,47641,Monique Hennagan,F,28.0,173.0,57.0,United States,USA,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Gold,USA,NaN,0,1,0
114343,70007,Lin Yi-Yin,F,23.0,168.0,54.0,Chinese Taipei,TPE,1996 Summer,1996,Summer,Atlanta,Archery,Archery Women's Individual,NaN,Taiwan,NaN,0,0,0
17461,10985,Florent Bessemans,M,28.0,183.0,80.0,Belgium,BEL,1968 Summer,1968,Summer,Mexico City,Fencing,"Fencing Men's Foil, Individual",NaN,Belgium,NaN,0,0,0
111963,68693,Karen Lende O'Connor,F,50.0,168.0,55.0,United States,USA,2008 Summer,2008,Summer,Beijing,Equestrianism,"Equestrianism Mixed Three-Day Event, Team",NaN,USA,NaN,0,0,0
2303,1483,Nobuyuki Aihara,M,21.0,154.0,53.0,Japan,JPN,1956 Summer,1956,Summer,Melbourne,Gymnastics,Gymnastics Men's Horizontal Bar,NaN,Japan,NaN,0,0,0
13576,8590,Suzy Batkovic (-Brown),F,31.0,195.0,89.0,Australia,AUS,2012 Summer,2012,Summer,London,Basketball,Basketball Women's Basketball,Bronze,Australia,NaN,1,0,0
31103,19140,Paola Cavallino,F,31.0,167.0,59.0,Italy,ITA,2008 Summer,2008,Summer,Beijing,Swimming,Swimming Women's 200 metres Butterfly,NaN,Italy,NaN,0,0,0
46177,28166,Souleymane Diallo,M,23.0,173.0,71.0,France,FRA,1960 Summer,1960,Summer,Roma,Boxing,Boxing Men's Light-Middleweight,NaN,France,NaN,0,0,0
127979,78177,Azmy Muhammad Azmy Abdulaziz Mehelba,M,21.0,172.0,77.0,Egypt,EGY,2012 Summer,2012,Summer,London,Shooting,Shooting Men's Skeet,NaN,Egypt,NaN,0,0,0
54171,33132,Lionel Hunter Escombe,M,NaN,NaN,NaN,Great Britain-3,GBR,1908 Summer,1908,Summer,London,Tennis,"Tennis Men's Doubles, Covered Courts",NaN,UK,NaN,0,0,0
124395,76036,Gioia Marzocca,F,29.0,169.0,59.0,Italy,ITA,2008 Summer,2008,Summer,Beijing,Fencing,"Fencing Women's Sabre, Individual",NaN,Italy,NaN,0,0,0
217994,132797,Yeh Chu-Mei,F,20.0,159.0,52.0,Chinese Taipei,TPE,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's 80 metres Hurdles,NaN,Taiwan,NaN,0,0,0
30607,18840,Andrea Cassar,M,32.0,193.0,93.0,Italy,ITA,2016 Summer,2016,Summer,Rio de Janeiro,Fencing,"Fencing Men's Foil, Team",NaN,Italy,NaN,0,0,0
203064,123848,Ivan Valant,M,26.0,NaN,NaN,Yugoslavia,YUG,1936 Summer,1936,Summer,Berlin,Cycling,"Cycling Men's Road Race, Individual",NaN,Serbia,Yugoslavia,0,0,0
199105,121487,"Khuloud ""Loudy"" Tourky-Wiggins",F,25.0,147.0,45.0,Australia,AUS,2004 Summer,2004,Summer,Athina,Diving,Diving Women's Platform,Bronze,Australia,NaN,1,0,0
18942,11944,Ib Bjrke,M,32.0,170.0,59.0,Denmark,DEN,1960 Summer,1960,Summer,Roma,Equestrianism,"Equestrianism Men's Three-Day Event, Individual",NaN,Denmark,NaN,0,0,0
28740,17779,Omar Camporese,M,24.0,188.0,78.0,Italy,ITA,1992 Summer,1992,Summer,Barcelona,Tennis,Tennis Men's Doubles,NaN,Italy,NaN,0,0,0
186110,113876,Giovanni Spinola,M,29.0,165.0,53.0,Italy,ITA,1964 Summer,1964,Summer,Tokyo,Rowing,Rowing Men's Coxed Fours,Silver,Italy,NaN,0,0,1
180722,110507,Emanuel Eduardo Pimenta Vieira da Silva,M,18.0,186.0,87.0,Portugal,POR,2004 Summer,2004,Summer,Athina,Canoeing,"Canoeing Men's Kayak Singles, 500 metres",NaN,Portugal,NaN,0,0,0
66707,40613,Daniel Giubellini,M,22.0,165.0,61.0,Switzerland,SUI,1992 Summer,1992,Summer,Barcelona,Gymnastics,Gymnastics Men's Individual All-Around,NaN,Switzerland,NaN,0,0,0
38943,23931,"John George Crosby, Jr.",M,21.0,172.0,61.0,United States,USA,1972 Summer,1972,Summer,Munich,Gymnastics,Gymnastics Men's Individual All-Around,NaN,USA,NaN,0,0,0
71108,43336,Sybille Gruner,F,23.0,173.0,65.0,Germany,GER,1992 Summer,1992,Summer,Barcelona,Handball,Handball Women's Handball,NaN,Germany,NaN,0,0,0
72073,43929,"Fritz ""Itze"" Gunst",M,27.0,NaN,NaN,Germany,GER,1936 Summer,1936,Summer,Berlin,Water Polo,Water Polo Men's Water Polo,Silver,Germany,NaN,0,0,1
203491,124122,"Lubomr ""Lubo"" Vambera",M,23.0,NaN,NaN,Czechoslovakia,TCH,1948 Summer,1948,Summer,London,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",NaN,Czech Republic,NaN,0,0,0
80861,49435,Harry Holm,M,17.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Gymnastics,"Gymnastics Men's Team All-Around, Free System",Gold,Denmark,NaN,0,1,0
216509,131895,Kim A. Wurzel,F,23.0,163.0,53.0,United States,USA,2000 Summer,2000,Summer,Sydney,Synchronized Swimming,Synchronized Swimming Women's Team,NaN,USA,NaN,0,0,0
114516,70103,Nils Harald Linde,M,29.0,173.0,80.0,Sweden,SWE,1920 Summer,1920,Summer,Antwerpen,Athletics,Athletics Men's Hammer Throw,NaN,Sweden,NaN,0,0,0
106671,65492,Sven Kwiatkowski,M,27.0,171.0,65.0,Germany,GER,2004 Summer,2004,Summer,Athina,Gymnastics,Gymnastics Men's Horse Vault,NaN,Germany,NaN,0,0,0
215959,131564,Freddie Woodward,M,21.0,178.0,75.0,Great Britain,GBR,2016 Summer,2016,Summer,Rio de Janeiro,Diving,Diving Men's Springboard,NaN,UK,NaN,0,0,0
94265,57880,"Agathi ""Agi"" Kasoumi",F,26.0,166.0,63.0,Greece,GRE,1992 Summer,1992,Summer,Barcelona,Shooting,"Shooting Women's Air Pistol, 10 metres",NaN,Greece,NaN,0,0,0
108882,66864,Anders Hkan Larsson,M,25.0,178.0,82.0,Sweden,SWE,1976 Summer,1976,Summer,Montreal,Canoeing,"Canoeing Men's Kayak Fours, 1,000 metres",NaN,Sweden,NaN,0,0,0
211937,129248,Karl Magnus Wegelius,M,35.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Shooting,"Shooting Men's Military Rifle, Standing, 300 m...",NaN,Finland,NaN,0,0,0
203106,123873,Paul Louis Jean Valcke,M,38.0,NaN,NaN,Belgium,BEL,1952 Summer,1952,Summer,Helsinki,Fencing,"Fencing Men's epee, Team",NaN,Belgium,NaN,0,0,0
146227,89291,Salvatore Oppes,M,42.0,NaN,NaN,Italy,ITA,1952 Summer,1952,Summer,Helsinki,Equestrianism,"Equestrianism Men's Three-Day Event, Team",NaN,Italy,NaN,0,0,0
38981,23952,Tara Lavell Cross-Battle,F,35.0,182.0,76.0,United States,USA,2004 Summer,2004,Summer,Athina,Volleyball,Volleyball Women's Volleyball,NaN,USA,NaN,0,0,0
222306,135401,Eurelijus ukauskas,M,30.0,218.0,115.0,Lithuania,LTU,2004 Summer,2004,Summer,Athina,Basketball,Basketball Men's Basketball,NaN,Lithuania,NaN,0,0,0
152956,93410,Xavier Prez Font,M,20.0,171.0,68.0,Andorra,AND,1988 Summer,1988,Summer,Seoul,Cycling,"Cycling Men's Road Race, Individual",NaN,Andorra,NaN,0,0,0
68589,41753,"Vilm Ladislav Jan Goppold z Lobsdorfu, Sr.",M,38.0,NaN,NaN,Bohemia,BOH,1908 Summer,1908,Summer,London,Fencing,"Fencing Men's epee, Team",NaN,Czech Republic,Bohemia,0,0,0
146214,89281,Isaac Opoku,M,20.0,NaN,NaN,Ghana,GHA,1996 Summer,1996,Summer,Atlanta,Table Tennis,Table Tennis Men's Doubles,NaN,Ghana,NaN,0,0,0
76723,46829,Brent Matthew Hayden,M,28.0,193.0,86.0,Canada,CAN,2012 Summer,2012,Summer,London,Swimming,Swimming Men's 4 x 100 metres Medley Relay,NaN,Canada,NaN,0,0,0
4219,2722,Rahim Aliabadi,M,29.0,158.0,48.0,Iran,IRI,1972 Summer,1972,Summer,Munich,Wrestling,"Wrestling Men's Light-Flyweight, Greco-Roman",Silver,Iran,NaN,0,0,1
58199,35477,Georges Firmin,M,24.0,NaN,78.0,France,FRA,1948 Summer,1948,Summer,London,Weightlifting,Weightlifting Men's Middleweight,NaN,France,NaN,0,0,0
221890,135180,Gnther Zobernig,M,20.0,NaN,NaN,Austria,AUT,1936 Summer,1936,Summer,Berlin,Swimming,Swimming Men's 100 metres Freestyle,NaN,Austria,NaN,0,0,0
151048,92232,Charles Paumier du Vergier,M,NaN,NaN,NaN,Belgium,BEL,1900 Summer,1900,Summer,Paris,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN,Belgium,NaN,0,0,0
97470,59821,Kim Chun-Son,F,19.0,149.0,42.0,North Korea,PRK,1980 Summer,1980,Summer,Moskva,Gymnastics,Gymnastics Women's Uneven Bars,NaN,North Korea,NaN,0,0,0
152998,93431,Antonn Peri,M,27.0,NaN,NaN,Czechoslovakia,TCH,1924 Summer,1924,Summer,Paris,Cycling,"Cycling Men's Road Race, Team",NaN,Czech Republic,NaN,0,0,0
100578,61754,Edeltraud Koch (-Rken),F,17.0,179.0,70.0,West Germany,FRG,1972 Summer,1972,Summer,Munich,Swimming,Swimming Women's 4 x 100 metres Medley Relay,Bronze,Germany,NaN,1,0,0
183046,111926,Grzegorz Ryszard ledziewski,M,22.0,182.0,78.0,Poland,POL,1972 Summer,1972,Summer,Munich,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",NaN,Poland,NaN,0,0,0

In [20]:
len(events[(events['NOC'] == 'USA') & (events['Medal'] == 'Gold')]) # 2472 is wrong / 1,060 is actual value

2472

In [21]:
medal_tally = events.drop_duplicates(subset=['Team','NOC', 'Games','Year','City','Sport','Event','Medal'])

In [22]:
zyzz = events.drop_duplicates(subset=['Team','NOC', 'Games','Year','City','Sport','Event','Medal'])

In [23]:
medal_tally = medal_tally.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold',ascending=False).reset_index()

In [24]:
medal_tally['total'] = medal_tally['Gold'] +  medal_tally['Silver'] + medal_tally['Bronze']

In [25]:
medal_tally['Gold'] = medal_tally['Gold'].astype(int)
medal_tally['Silver'] = medal_tally['Silver'].astype(int)
medal_tally['Bronze'] = medal_tally['Bronze'].astype(int)
medal_tally['total'] = medal_tally['total'].astype(int)

In [26]:
medal_tally

            region  Gold  Silver  Bronze  total
0              USA  1035     802     708   2545
1           Russia   592     498     487   1577
2          Germany   444     457     491   1392
3               UK   278     317     300    895
4           France   234     256     287    777
..             ...   ...     ...     ...    ...
200        Lesotho     0       0       0      0
201        Albania     0       0       0      0
202          Libya     0       0       0      0
203  Liechtenstein     0       0       0      0
204        Liberia     0       0       0      0

[205 rows x 5 columns]

In [27]:
len(events['City'].unique())

23

# Medals won by USA in 2016

In [28]:
zyzz[(zyzz['NOC'] == 'USA') & (zyzz['Medal'] == 'Gold') & (zyzz['Year'] == 2016)].shape

(46, 20)

In [29]:
zyzz[(zyzz['NOC'] == 'USA') & (zyzz['Medal'] == 'Silver') & (zyzz['Year'] == 2016)].shape

(37, 20)

In [30]:
zyzz[(zyzz['NOC'] == 'USA') & (zyzz['Medal'] == 'Bronze') & (zyzz['Year'] == 2016)].shape

(38, 20)

# Gold medal won by a country in a specific year

In [31]:
def gold(region, year):
    gold_medal = zyzz[(zyzz['region'] == region) & (zyzz['Medal'] == 'Gold') & (zyzz['Year'] == year)]
    gold_medal = gold_medal['Gold'].sum()
    return gold_medal

gold('Russia', 2008)

23

In [32]:
def gold(country, year):
    gold_medal = zyzz[(zyzz['NOC'] == country) & (zyzz['Medal'] == 'Gold') & (zyzz['Year'] == year)]
    gold_medal = gold_medal['Gold'].sum()
    return gold_medal

gold('IND', 2008)

1

# Sorting year

In [33]:
zyzz_unique_year = zyzz['Year'].unique()

In [34]:
zyzz_unique_year

array([1992, 2012, 1920, 1900, 1932, 1952, 2000, 1996, 1912, 1924, 1948,
       2008, 2016, 2004, 1984, 1968, 1972, 1988, 1936, 1956, 1960, 1928,
       1976, 1980, 1964, 1906, 1904, 1908, 1896], dtype=int64)

In [35]:
zyzz_unique_year.sort()

In [36]:
zyzz_unique_year = zyzz_unique_year.tolist()

In [37]:
zyzz_unique_year.insert(0, 'Overall')

In [38]:
zyzz_unique_year

['Overall',
 1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

# Sorting Country

In [39]:
zyzz_country = zyzz['region'].dropna()

In [40]:
zyzz_country = zyzz_country.unique()

In [41]:
zyzz_country = zyzz_country.tolist()

In [42]:
zyzz_country.sort()

In [43]:
zyzz_country.insert(0, 'Overall')

In [44]:
zyzz_country

['Overall',
 'Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']

# Medal tally based on specific country or year

In [45]:
def specific_tally(events, year, country):
    zyzz = events.drop_duplicates(subset=['Team','NOC', 'Games','Year','City','Sport','Event','Medal'])
    flag = 0
    #overall / overall
    if year == "Overall" and country == "Overall":
        return_df = zyzz
    #overall / not overall 
    if year == 'Overall' and country != "Overall":
        return_df = zyzz[zyzz['region'] == 'India']
        flag = 1 
    #not overall / overall 
    if year != "Overall" and country == "Overall":
        return_df = zyzz[zyzz['Year'] == int(year)]
    #not overall / not overall
    if year != "Overall" and country != "Overall":
        return_df = zyzz[(zyzz['Year'] == int(year)) & (zyzz['region'] == country)]
    
    if flag == 1:
        specific_tally = return_df.groupby('Year').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Year',ascending=True).reset_index()
    else:
        specific_tally = return_df.groupby('region').sum()[['Gold', 'Silver', 'Bronze']].sort_values('Gold',ascending=False).reset_index()
        
    specific_tally['total'] = specific_tally['Gold'] +  specific_tally['Silver'] + specific_tally['Bronze']
    print(specific_tally)
    
# DRIVER CODE:    
specific_tally(events,2016, 'Overall')

         region  Gold  Silver  Bronze  total
0           USA    46      37      38    121
1            UK    27      23      17     67
2         China    26      18      26     70
3        Russia    19      17      20     56
4       Germany    17      10      15     42
..          ...   ...     ...     ...    ...
198     Ireland     0       2       0      2
199      Israel     0       0       2      2
200    Kiribati     0       0       0      0
201  Kyrgyzstan     0       0       0      0
202    Zimbabwe     0       0       0      0

[203 rows x 5 columns]

In [46]:
events

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,0,0,0
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,0,0,0
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,0,0,0
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,0,1,0
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN,0,0,0
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN,0,0,0
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,0,0,0
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN,0,0,0

In [47]:
country = np.unique(events['region'].dropna().values).tolist()

In [48]:
country

['Afghanistan',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Boliva',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'Brunei',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Cape Verde',
 'Cayman Islands',
 'Central African Republic',
 'Chad',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Cook Islands',
 'Costa Rica',
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czech Republic',
 'Democratic Republic of the Congo',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Ecuador',
 'Egypt',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Ethiopia',
 'Fiji',
 'Finland',
 'France',
 'Gabon',
 'Gambia',
 'Georgia',
 'Germany',
 'Ghana',
 'Greece',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Honduras',
 'Hungary',
 'Iceland',
 'India',
 'Individual Olympic Athletes',
 'Indonesia',
 'Iran',
 'Iraq',
 'Ireland',
 'Israel',
 'Italy',
 'Ivory Coast',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 'Kosovo',
 'Kuwait',
 'Kyrgyzstan',
 'Laos',
 'Latvia',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North Korea',
 'Norway',
 'Oman',
 'Pakistan',
 'Palau',
 'Palestine',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Puerto Rico',
 'Qatar',
 'Republic of Congo',
 'Romania',
 'Russia',
 'Rwanda',
 'Saint Kitts',
 'Saint Lucia',
 'Saint Vincent',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Slovakia',
 'Slovenia',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Korea',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Sweden',
 'Switzerland',
 'Syria',
 'Taiwan',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad',
 'Tunisia',
 'Turkey',
 'Turkmenistan',
 'UK',
 'USA',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela',
 'Vietnam',
 'Virgin Islands, British',
 'Virgin Islands, US',
 'Yemen',
 'Zambia',
 'Zimbabwe']